[MASTER]
ignore=.venv

[DESIGN]
max-attributes=12
max-args=10
max-locals=20

[MESSAGES CONTROL]
disable=missing-module-docstring,missing-class-docstring,missing-function-docstring,too-few-public-methods,duplicate-code
