[MASTER]
init-hook='import sys; sys.path.insert(0, "src")'

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    line-too-long,
    protected-access,
    undefined-all-variable
